

<ion-view view-title="首页">
  <ion-content class="padding">
      <ion-slide-box on-silde-changed="slideHasChanged($index)">
      <ion-slide>
      <div class="row">
        <div class="col col-100">
          <img src="img/home_page1.png"  style="width:100%">
        </div>
      </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-100">
            <img src="img/home_page2.png" style="width:100%">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-100">
            <img src="img/home_page3.png" style="width:100%">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-100">
            <img src="img/home_page4.png" style="width:100%">
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-100">
            <img src="img/home_page5.png" style="width:100%">
          </div>
        </div>
      </ion-slide>
      </ion-silde-box>
  </ion-content>
</ion-view>
